@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.marquee {
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.marquee-inner {
  display: flex;
  animation: scroll 20s linear infinite;
}

.marquee-inner:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}